body {
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: row;
}

button {
	padding: 10px;
	color: #fff;
	background-color: #07f;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	min-width: 100px;
	outline: none;
	cursor: pointer;
}

button:hover {
	background-color: #08f;
}

button:active {
	background-color: #04d;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

table td, table th {
	font-size: 20px;
	text-align: center;
}

table th {
	background-color: #ccc;
	color: #000;
	padding: 8px;
	font-size: 16px;
	border: 1px solid #aaa;
}

table td {
	font-family: "Consolas", sans-serif;
	border: 1px solid #ddd;
}

table tr:nth-child(odd) td {
	background: #f4f4f4;
}

table input {
	width: 60px;
	border: none;
	text-align: center;
	padding: 8px;
	font-size: 20px;
	font-family: "Consolas", sans-serif;
	outline: none;
	background: none;
}

table input:focus {
	box-shadow: 0 0 0 3px #07f;
}

table input::placeholder {
	color: #ccc;
}

.page-content {
	flex: 1;
	overflow: auto;
	padding: 20px;
}

#tabInput {
	margin: 0 auto;
}

#cheatsheet {
	margin: 0 auto;
}

.results-grid {
	display: flex;
	flex-direction: column;
}

.results-row {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

.results-container {
}

.results {
	margin: 8px;
}

.results td {
	padding: 8px;
	width: 40px;
}

.sidebar {
	max-width: 300px;
	flex: 0.5;
	height: 100vh;
	background-color: #eee;
	display: flex;
	flex-direction: column;
}

.sidebar .nav {
	flex: 1;
}

.footer {
	text-align: center;
	color: #aaa;
	font-size: 14px;
	padding: 16px;
}

.header {
	text-align: center;
	padding: 16px;
}

.nav .nav-item {
	padding: 8px;
	background: #ddd;
	font-weight: bold;
	margin: 4px;
	border-radius: 4px;
	cursor: pointer;
}

.nav .nav-item[selected] {
	background: #07f;
	color: #fff;
}