body {
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: row;
}

.button {
	padding: 10px;
	color: #fff;
	background-color: #07f;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	min-width: 100px;
	outline: none;
	cursor: pointer;
}

.button:active {
	background-color: #0054b5;
}

.focusable:focus {
	box-shadow: 0 0 0 4px rgba(102, 174, 255, 0.5);
}

.button-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

table td, table th {
	font-size: 20px;
	text-align: center;
}

table th {
	background-color: #fff;
	color: #000;
	padding: 8px;
	font-size: 16px;
	border: 1px solid #ddd;
}

.karnaugh th:first-child {
	border-right: 3px solid #ddd;
}

.karnaugh tr:first-child th {
	border-bottom: 3px solid #ddd;
}

table td {
	font-family: "Consolas", sans-serif;
	border: 1px solid #ddd;
}

table tr:nth-child(odd) td {
	background: #f4f4f4;
}

table input {
	width: 100%;
	border: none;
	text-align: center;
	padding: 16px 0;
	font-size: 20px;
	font-family: "Consolas", sans-serif;
	outline: none;
	background: none;
}

table input:focus {
	box-shadow: 0 0 0 3px #07f;
}

table input::placeholder {
	color: #ccc;
}

.page-section {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100vh;
}

.page-header {
	padding: 20px;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 10px rgba(0,0,0,0.07);
	z-index: 1;
}

.page-header .category {
	font-size: 14px;
	font-weight: bold;
	color: rgba(0,0,0,0.5);
	padding: 2px;
}

.page-header .title {
	font-size: 20px;
	font-weight: bold;
	padding: 2px;
}

.page-content {
	display: flex;
	overflow: auto;
}

#tabInput {
	margin: 0 auto;
}

#cheatsheet {
	margin: 0 auto;
}

.results-grid {
	display: flex;
	flex-direction: column;
}

.results-row {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

.results-container {
}

.results {
	margin: 8px;
}

.results td {
	padding: 8px;
}

.sidebar {
	max-width: 320px;
	flex: 0.5;
	height: 100vh;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #ddd;
	z-index: 10;
}

.sidebar .nav {
	flex: 1;
}

.footer {
	text-align: center;
	color: #aaa;
	font-size: 14px;
	padding: 16px;
}

.header {
	text-align: center;
	padding: 16px;
}

.nav {
	padding: 0 4px;
}

.nav .item {
	padding: 10px;
	margin: 4px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
}

.nav .item:hover {
	background: rgba(0,0,0,0.07);
}

.nav .item[selected] {
	background: #07f;
	color: #fff;
}

.nav .section-header {
	padding: 8px;
	font-size: 14px;
	font-weight: bold;
	color: rgba(0,0,0,0.5);
}

.actions {
	display: flex;
	flex-direction: row;
	text-align: right;
	padding: 8px;
	background: #fff;
	border-radius: 0 0 4px 4px;
	border: 1px solid #ddd;
	border-top: none;
	align-items: center;
}

.hint {
	display: block;
	flex: 1;
	flex-grow: 1;
	overflow: hidden;
	color: rgba(0,0,0,0.7);
	word-wrap: break-word;
	text-align: left;
	font-size: 12px;
	margin-right: 8px;
}

.box {
	display: flex;
	justify-content: center;
}

form {
	
}

.split {
	flex: 1;
	display: flex;
}

.vertical {
	flex-direction: row;
}

.panel {
	flex: 1;
	border-right: 1px solid #ddd;
	padding: 20px;
	overflow: auto;
}

.panel:last-of-type {
	border-right: none;
}